.container{  
  font-family: 'Lato';
  font-size: 14px;
  background: #fafafa;
  a{
    text-decoration: none;
    color: #1b7edf;
    font-weight: bold;
    cursor: pointer;
  }
  header{
    background: #edf2fc;
    
    .cookie{
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0 auto;
      text-align: center;
    }    
  }
  .logo{
    &::before{
      background-image: url(//d2hkcehpyog59.cloudfront.net/3115f3e4c221acb12a1cd87ad613d6011f85e805/wl_icon.png);
      background-repeat: no-repeat;
      background-size: 80px;
      background-position: top right;
      content: '';
      display: block;
      height: 80px;
      width: 80px;
      margin: auto;
    }
    margin: 40px auto 0 auto;
  }
  .form{
    margin: 30px auto;
    width: 350px;    
    form {
      border-radius: 3px;
      border: 1px solid #ddd;
      height: 230px;
      .row{
        background: #fff;
        display: flex;
        height: 60px;
        align-items: center;
        border-bottom: solid 1px #eee;
        margin: 0;
        
        .icon{
          
          padding: 0px 20px;
        }
        input{
          flex: 1;
          border: none;
          outline: none;
        }
        input[type=submit]{
          padding: 11px 10px;
          background: #2b88d9;
          color: #fff;
          font-weight: bold;
          border-radius: 3px;
          font-size: 15px;
          margin: 18px auto;
          display: block;
          width: 100%;
        }
      }
      .submit {
        padding: 0 15px;
        border: none;
        align-items: normal;
        display: block;
      }
      .forgot-password{
        display: block;
        font-size: 14px;
        text-align: center;
      }
    }
    .buttons-external{
      font-size: 0;
      margin: 0;
      margin-top: 20px;
      .external-auth:not(:last-child){
        margin-right: 15px;
        margin-bottom: 10px;
        
      }
      .external-auth{
        width: 30%;
        display: inline-block;
        box-sizing: border-box;
        .button{
          display: block;          
          padding: 10px;
          text-align: center;
          border: 1px solid #ddd;
          .icon{            
            width: 26px;
            height: 26px;           
            display: inline-block;
            vertical-align: middle;
            margin-top: -1px;
          }
        }        
      }
      .facebook{
        .button{
          background: #3b5998;
        }
      }
      .google{
        .button{
          background: #dd4b39;
        }          
      }
      .microsoft{
        margin-right: -10px;
        .button{
          background: #fff;
        }
      }
    }
  }
}