*{
    margin: 0;
    padding: 0;
}
body{
    $font-stack: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #262626;
    font-size: 14px;
    font-weight: 500;
    font-family: $font-stack;

    a{
        cursor: pointer;
        text-decoration: none;
        user-select: none;
    }
    .main-interface{
        display: flex;
        overflow: hidden;
        height: 100vh;
        background: #f7f7f7;
        #modal{
            position: absolute;
            display: none;
        }
        .navigation{
            width: 280px;
            background: #fff;
            overflow: hidden;
            .lists-inner{
                display: flex;
                flex-direction: column;
                height: 100vh;
                #search-toolbar{
                    display: flex;
                    background: #5b7a59;
                    align-items: center;
                    height: 45px;
                    .toggle-icon,.search-icon-wrapper{
                        fill: #fff;
                        height: 40px;
                        width: 40px;
                        padding: 10px 10px;
                        box-sizing: border-box;
                    }
                    .toggle-icon{
                        a{
                            display: block;
                            height: 20px;
                            width: 20px;
                        }
                    }
                    .search-input-wrapper{
                        flex: 1;
                        input{
                            border: none;
                            background: none;
                            font-size: 20px;
                            line-height: 45px;
                            outline: none;
                            width: 100%;
                            color: #fff;
                            box-sizing: border-box;
                        }
                    }
                }
                #user-toolbar{
                    height: 45px;
                    padding-top: 2px;
                    padding-bottom: 4px;
                    display: flex;
                    a.user{
                        display: flex;
                        flex: 1;
                        align-items: center;                     
                        .user-avatar{
                            padding: 0 5px;
                            .avatar.medium{
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                border: none;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .user-name{
                            font-size: 15px;
                            padding: 0 5px;
                        }
                        .user-arrow{
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .stream-counts{
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        margin-top: 3px;
                        a{
                            padding: 0 10px;
                        }
                    }
                }
                .lists-scroll{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    ul{
                        margin: 0;
                        padding: 0;
                    }
                    .sidebarItem{
                        height: 38px;
                        a{
                            display: flex;
                            color: #1c1c1c;
                            padding: 0 8px;
                            align-items: center;
                            box-sizing: border-box;
                            height: 38px;
                            .list-icon{
                                padding: 0 3px;
                                height: 20px;
                            }
                        }
                        .title{
                            font-size: 15px;
                            flex: 1;
                            padding-left: 6px;
                            padding-right: 6px;  
                        }
                    }                 
                    .filter-collection{
                        .sidebarItem{                            
                            a{
                                .list-icon{
                                    svg.inbox{
                                        fill: #2b8dec;
                                    }
                                    svg.today{
                                        fill: #5fa004;
                                    }
                                    svg.week{
                                        fill: #e29600;
                                    }
                                }
                                .overdue-count{
                                    color: #d74e48;
                                    background: rgba(215,78,72,0.1);
                                    padding: 2px 6px;
                                    border-radius: 12px;
                                    font-size: 12px;
                                    margin-left: 4px;
                                    margin-right: 4px;
                                }
                                .count{
                                    font-size: 12px;
                                    color: #bdbcbb;
                                    padding-left: 4px;
                                    padding-right: 4px;
                                }
                            }
                        }
                    }
                    .lists-collection{
                        svg{
                            fill: #b9b9b9;
                        }
                    }
                }
                .sidebarActions{
                    border-top: 1px solid rgba(0,0,0,0.1);                    
                    .sidebarActions-addList{
                        height: 42px;
                        fill: #328ad6;
                        color: #328ad6;
                        
                        
                        align-items: center;
                        display: flex;
                        .sidebarActions-icons{
                            padding: 0 10px;
                        }
                        .sidebarActions-label{
                            user-select: none;
                            flex: 1;
                        }
                    }
                }
            }
        }   
        #tasks{
            flex: 1;
            #list-toolbar{
                height: 45px;
                background: #668964;
                display: flex;
                
                .title{
                    flex: 1;
                    font-size: 20px;
                    color: #fff;
                    font-weight: 200;
                    padding: 10px 14px;
                }
                .actionBar{
                    .actionBar-top{
                        display: none;
                    }
                    .actionBar-bottom{
                        height: 45px;
                        display: flex;
                    }
                }
            }
        }   
        #detail{
            width: 0px;
            
        }
    }
    #user-popover{
        display: none;
    }
}