$overdue-color: #b3312d;
*{
    margin: 0;
    padding: 0;
    user-select: none;
}
@keyframes dialogSlideIn{
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
.background-06{
    :focus {
        outline: none;
    }
    $font-stack: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #262626;
    font-size: 14px;
    font-weight: 500;
    font-family: $font-stack;
    overflow: hidden;
    position: relative;
    &:before{
        content: '';
        background-size: cover;
        background-position: center top;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -100;
        @media all and (min-width:1025px){
            background-image:url("https://static.wunderlist.com/e1a9ddc47beb988e8bc86d09a7d2780a9868097d/images/backgrounds/2048/06.jpg") !important;
        }
        @media all and (max-width:1024px){
            background-image:url("https://static.wunderlist.com/7301e219acb02266587ce610bd91f33ed6d31607/images/backgrounds/1024/06.jpg") !important;
        }
    }
    &:vertical{background-color:rgba(102,137,100,0.75)}
    ::-webkit-scrollbar{
        width: 6px;
    }
    ::-webkit-scrollbar-thumb{
        background: #a3a3a2;
        border-radius: 3px;
    }
    a{
        cursor: pointer;
        text-decoration: none;
        user-select: none;
    }
    ul{
        list-style: none;
    }
    .disabled{
        pointer-events: none;
    }
    .hidden{
        display: none!important;
    }
    ul.context-menu{
        position: absolute;
        background: #fff;
        border: none;
        z-index: 100;
        border-radius: 3px;
        padding: 6px 0;
        box-shadow: 0 1px 5px rgba(0,0,0,0.3);
        display: none;
        li:not(.separator){
            display: flex;
            align-items: center;  
            padding: 4px;
            cursor: pointer;
            user-select: none;
            .context-menu-icon{
                margin: 0 4px;
            }
            .label{
                flex: 1;
                color: #262626;
            }
            .chevron{
                transform: rotate(180deg);
            }
        }
        li.separator{
            font-size: 0;
            margin: 8px 0;
            border-bottom: 1px solid rgba(102,137,100,0.2);
            height: 0;
        }
        li:hover{
            background: rgba(102,137,100,0.1);
        }
    }
    .main-interface{
        display: flex;
        overflow: hidden;
        height: 100vh;
        #modal{
            display: none;
            .dialog-wrapper{
                position: absolute;
                
                z-index: 1000;
                top: 0;
                left: 0;
                padding-top: 80px;
                padding-bottom: 80px;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                background: rgba(0,0,0,0.4);
                #settings{
                    animation: dialogSlideIn 250ms cubic-bezier(.175,.885,.32,1.275);
                    margin: 0 auto;
                    width: 700px;
                    display: flex;
                    flex-direction: column;
                    background: #fafafa;
                    overflow: hidden;
                    border-radius: 3px;
                    max-height: 100%;
                    position: relative;
                    .content{
                        display: flex;
                        .tabs{
                            overflow-y: auto;
                            border-left: 1px solid #ebebeb;
                            border-right: 1px solid #ebebeb;
                            ul{
                                li{
                                    a{
                                        padding: 0 10px;
                                        display: flex;
                                        align-items: center;
                                        font-size: 12px;
                                        font-weight: bold;
                                        text-shadow: 0 1px 0 #fff;
                                        &.active{
                                            background: rgba(0,0,0,0.08);
                                        }
                                        .icon{
                                            width: 40px;
                                            height: 40px;
                                            margin: 0 -10px;
                                            flex-shrink: 0;
                                            transform: scale(0.6);
                                            background-image: url(//static.wunderlist.com/7d9072fa85c079a4fbd4911016b563ae2e7e758b/images/sprites/app.png);
                                            &.settings-general{
                                                background-position: -157px 0;
                                            }
                                            &.settings-account{
                                                background-position: 0 -153px;
                                            }
                                            &.settings-shortcuts{
                                                background-position: -80px -153px;
                                            }
                                            &.settings-smart-lists{
                                                background-position: -157px -40px;
                                            }
                                            &.settings-notification{
                                                background-position: -60px -93px;
                                            }
                                            &.settings-about{
                                                background-position: -40px -153px;
                                            }
                                        }
                                        .tab-label{
                                            padding: 0 10px;
                                            flex: 1;
                                            text-align: left;
                                        }
                                    }
                                    &.active{
                                        background: rgba(0,0,0,0.08);
                                    }
                                }
                            }
                        }
                        .settings-content-inner-wrapper{
                            padding: 0 14px;
                            flex: 1;
                            overflow-y: auto;
                            .settings-content-inner-general{                                
                                .separator{
                                    margin: 14px 0px;
                                    border-bottom: 1px solid #aaa;
                                    .cols{
                                        margin-bottom: 14px;                                        
                                        margin-left: -7px;
                                        margin-right: -7px;
                                        font-size: 0;
                                        > div{
                                            display: inline-block;
                                            box-sizing: border-box;
                                            font-size: 13px;
                                            vertical-align: middle;
                                            padding: 0 7px;
                                        }
                                        .col-60{                                            
                                            width: 60%;                                            
                                            &.text-right{
                                                text-align: right;
                                            }
                                        }
                                        .col-40{
                                            width: 40%;
                                            .select{
                                                max-width: 100%;
                                                background: #fff;
                                                box-shadow: inset 0 0 0 1px #d6d6d6;
                                                display: inline-block;
                                                select{
                                                    width: 100%;
                                                    padding: 8px 26px 8px 8px;
                                                    border: none;
                                                    background: none;
                                                    border-radius: 3px;
                                                    color: #262626;
                                                    font-size: 13px;
                                                    line-height: 17px;
                                                }
                                            }
                                            .checkbox{                                                
                                                input[type=checkbox]{
                                                    background: #fff;
                                                    height: 16px;
                                                    width: 16px;
                                                    -webkit-appearance: none;
                                                    border-radius: 3px;
                                                    box-shadow: inset 0 0 0 1px #d6d6d6;
                                                    position: relative;
                                                    vertical-align: bottom;
                                                }
                                            }
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .content-footer{
                        border-top: 1px solid #e0e0df;
                        padding: 12px;
                        flex-shrink: 0;
                        .cols{
                            font-size: 0;
                            .col-40{
                                width: 40%;
                                display: inline-block;
                            }
                            .col-20{
                                width: 20%;
                                display: inline-block;
                                text-align: center;
                                button{
                                    background: #2b8dec;
                                    color: #fff;
                                    padding: 6px 10px;
                                    border-radius: 4px;
                                    border: none;
                                    width: 100%;
                                }
                            }

                        }
                    }
                }
            }
        }
        .navigation{
            width: 280px;
            background: #f7f7f7;
            overflow: hidden;
            
            &.collapsed{
                flex-basis: 42px;
                #search-toolbar{
                    .search-input-wrapper,.search-icon-wrapper{
                        display: none;
                    }
                }
                #user-toolbar{
                    .user{
                        .user-name{
                            display: none;
                        }
                    }
                    .stream-counts{
                        display: none;
                    }
                }
                .lists-scroll{
                    .title,.overdue-count,.count{
                        display: none;
                    }
                }
                .sidebarActions-addList{
                    .sidebarActions-label{
                        display: none;
                    }
                }
            }
            .lists-inner{
                display: flex;
                flex-direction: column;
                height: 100vh;
                #search-toolbar{
                    display: flex;
                    background: #5b7a59;
                    align-items: center;
                    height: 45px;
                    .toggle-icon,.search-icon-wrapper{
                        fill: #fff;
                        height: 40px;
                        width: 40px;
                        padding: 10px 10px;
                        box-sizing: border-box;
                    }
                    .toggle-icon{
                        a{
                            display: block;
                            height: 20px;
                            width: 20px;
                        }
                    }
                    .search-input-wrapper{
                        flex: 1;
                        input{
                            border: none;
                            background: none;
                            font-size: 20px;
                            line-height: 45px;
                            outline: none;
                            width: 100%;
                            color: #fff;
                            box-sizing: border-box;
                        }
                    }
                }
                #user-toolbar{
                    height: 45px;
                    padding-top: 2px;
                    padding-bottom: 4px;
                    display: flex;
                    
                    a.user{
                        display: flex;
                        flex: 1;
                        align-items: center;                     
                        .user-avatar{
                            padding: 0 5px;
                            .avatar.medium{
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                border: none;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .user-name{
                            font-size: 15px;
                            padding: 0 5px;
                        }
                        .user-arrow{
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .stream-counts{
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        margin-top: 3px;
                        a{
                            padding: 0 10px;
                            fill: #737272;
                            // svg{
                            //     fill: #737272;
                            // }
                        }
                    }
                }
                .lists-scroll{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    overflow: auto;
                    ul{
                        margin: 0;
                        padding: 0;
                    }
                    .sidebarItem{
                        height: 38px;
                        a{
                            display: flex;
                            color: #1c1c1c;
                            padding: 0 8px;
                            align-items: center;
                            box-sizing: border-box;
                            height: 38px;
                            .list-icon{
                                padding: 0 3px;
                                height: 20px;
                            }
                        }
                        .title{
                            font-size: 15px;
                            flex: 1;
                            padding-left: 6px;
                            padding-right: 6px;  
                        }
                    }
                    .filter-collection{
                        .sidebarItem{
                            a{
                                .list-icon{
                                    svg.inbox{
                                        fill: #2b8dec;
                                    }
                                    svg.today{
                                        fill: #5fa004;
                                    }
                                    svg.week{
                                        fill: #e29600;
                                    }
                                }
                                .overdue-count{
                                    color: #d74e48;
                                    background: rgba(215,78,72,0.1);
                                    padding: 2px 6px;
                                    border-radius: 12px;
                                    font-size: 12px;
                                    margin-left: 4px;
                                    margin-right: 4px;
                                }
                                .count{
                                    font-size: 12px;
                                    color: #bdbcbb;
                                    padding-left: 4px;
                                    padding-right: 4px;
                                }
                            }
                            &.active{
                                background: #e0eefa;
                                .overdue-count{
                                    color: #fafafa;
                                    background: rgba(215,78,72,0.8);
                                }
                                .count{
                                    color: rgba(38,38,38,0.75);
                                }
                            }
                        }
                    }
                    .lists-collection{
                        svg{
                            fill: #b9b9b9;
                        }
                        .active{
                            background: #e0eefa;
                            .overdue-count{
                                color: #fafafa;
                                background: rgba(215,78,72,0.8);
                            }
                            .count{
                                color: rgba(38,38,38,0.75);
                            }
                        }
                    }
                }
                .sidebarActions{
                    border-top: 1px solid rgba(0,0,0,0.1);                    
                    .sidebarActions-addList{
                        height: 42px;
                        fill: #328ad6;
                        color: #328ad6;
                        
                        
                        align-items: center;
                        display: flex;
                        .sidebarActions-icons{
                            padding: 0 10px;
                        }
                        .sidebarActions-label{
                            user-select: none;
                            flex: 1;
                        }
                    }
                }
            }
        }   
        #tasks{
            flex: 1;
            display: flex;
            flex-direction: column;
            #list-toolbar{
                height: 45px;
                background: #668964;
                display: flex;
                .title{
                    flex: 1;
                    font-size: 20px;
                    color: #fff;
                    font-weight: 200;
                    padding: 10px 14px;
                }
                .actionBar{
                    position: relative;
                    .actionBar-top{
                        opacity: 1;
                        background: rgb(102, 137, 100);
                        position: absolute;
                        top: 45px;
                        right: 0px;
                        width: 250px;
                        z-index: 2;
                        overflow: hidden;
                        height: 0px;
                        transition: 120ms height linear;
                        &.show{
                            height: 244px;
                        }
                        ul{
                            list-style: none;
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;
                            z-index: 1;
                            li{
                                padding: 1px 2px 2px 2px;
                                position: relative;
                                transition: opacity 100ms ease;
                                &.disabled{
                                    opacity: 0.4 !important;
                                    filter: none;
                                }
                                a{
                                    display: block;
                                    padding: 7px 7px 7px 34px;
                                    color: #fff;
                                    svg{
                                        position: absolute;
                                        left: 8px;
                                        top: 7px;
                                        fill: #fff;
                                    }
                                    &.disabled{
                                        color: rgba(255,255,255,0.4);                                        
                                        svg{
                                            fill: rgba(255,255,255,0.4);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .actionBar-bottom{
                        height: 45px;
                        font-size: 0;                                   
                        a{
                            display: inline-block;
                            text-align: center;
                            fill: #fff;                        
                            padding: 6px;
                            min-width: 40px;                            
                            .tab-text{
                                display: block;
                                text-align: center;
                                color: #fff;
                                font-size: 10px;
                            }
                        }
                        a.disabled{
                            pointer-events: none;
                            opacity: 0.5;
                        }
                    }
                }
            }
            .task-scroll{
                overflow-y: scroll;
                flex: 1;
                margin: 0 7px;
                padding: 0 7px;
                .addTask{
                    margin: 14px 0;
                    padding: 0 12px;
                    background: rgba(102, 137, 100, 0.75);
                    position: relative;
                    a.plus-wrapper{
                        position: absolute;
                        left: 10px;
                        top: 14px;
                        svg{
                            fill: #fff;
                        }
                    }
                    .addTask-input{
                        position: relative;
                        background: none;
                        outline: none;
                        border: none;
                        font-size: 16px;
                        line-height: 20px;
                        padding: 13px 60px 14px 28px;
                        width: 100%;
                        box-sizing: border-box;
                        font-family: $font-stack;
                        color: #fff;
                        &::placeholder{
                            color: rgba(255,255,255,0.6);
                        }
                    }
                    

                }
                .task-list{
                    
                    h2{
                        display: block;
                        margin-top: 20px;
                        margin-bottom: 10px;
                        position: relative;
                        font-size: 11px;                        
                        a.groupHeader{
                            background: rgba(102,137,100,0.75);
                            display: inline-block;
                            padding: 3px 10px;
                            vertical-align: middle;
                            color: #fff;
                            line-height: 16px;
                            letter-spacing: 1px;
                            font-weight: 400;
                            text-transform: uppercase;
                            border-radius: 3px;
                        }
                    }
                    .tasks{
                        list-style: none;
                        .taskItem{
                            height: 47px;
                            .taskItem-body{
                                display: flex;
                                height: 46px;
                                border-radius: 3px;
                                background: #fff;
                                align-items: center;
                                padding: 0 4px;
                                a{
                                    fill: #b9b9b9;
                                }
                                .taskItem-checkboxWrapper{
                                    padding: 0 8px;
                                    svg{
                                        height: 20px;
                                        width: 20px;
                                    }
                                }
                                .taskItem-titleWrapper{
                                    flex: 1;
                                    font-size: 15px;
                                    line-height: 15px;
                                }
                                .taskItem-duedate{
                                    font-size: 12px;
                                    color: #328ad6;
                                    padding: 0 4px;
                                    &.overdue{
                                        color: #b3312d;
                                    }
                                }
                                .taskItem-star{
                                    padding: 0 6px;
                                }
                            }
                            &.selected .taskItem-body{
                                background: #e1f2fe;
                            }
                            &.done {
                                opacity: 0.6;
                                .taskItem-titleWrapper{
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }
                }
            }
        }   
        #detail{
            width: 367px;
            display: none;
            .inner{
                background: #fff;
                height: 100vh;
                display: flex;
                flex-direction: column;
                position: relative;
                overflow: hidden;
                .top{
                    a{
                        fill: rgba(0,0,0,0.3);
                        &.detail-checkbox{
                            position: absolute;
                            top: 18px;
                            left: 18px;
                            cursor: pointer;
                            z-index: 5;
                        }
                        &.detail-star{
                            .star-wrapper{
                                position: absolute;
                                height: 49px;
                                width: 22px;
                                box-sizing: border-box;
                                right: 15px;
                                top: -4px;
                                z-index: 5;
                            }
                            .starred-wrapper{
                                display: none;
                            }
                        }
                    }
                    .title-container{
                        position: relative;
                        .title{
                            padding: 16px 50px 14px;
                            border-bottom: 1px solid #ebebeb;
                            font-size: 16px;
                            line-height: 24px;

                            .title-text .content-fakable{
                                .display-view{
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                                .edit-view.hidden{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .body{
                    flex: 1;
                    // display: flex;
                    flex-direction: column;
                    overflow: auto;
                    padding-bottom: 16px;
                    .section{
                        padding: 8px 0;
                    }
                    .section-item{
                        display: flex;
                        align-items: center;
                        color: #262626;
                        padding-left: 10px;
                        padding-right: 10px;
                        svg{
                            margin: 6px;
                        }
                        .section-icon{                            
                            fill: #b9b9b9;
                            height: 32px;
                            min-width: 32px;
                            flex-shrink: 0;
                        }
                        .section-content{
                            flex: 1;
                            margin-left: 8px;
                            margin-right: 8px;
                        }
                        .section-title{
                            font-size: 15px;
                            line-height: 20px;
                            color: #9fa2a6;
                        }
                        .section-delete{
                            display: none;
                        }
                        .section-description{
                            font-size: 11px;
                        }
                        .section-attachments{
                            display: flex;
                        }
                        .section-attachments svg{
                            fill: #737272;
                        }
                        &.date{
                            .section-title{
                                color: #328ad6;
                            }
                            .section-icon{
                                fill: #328ad6;
                            }
                        }
                        &.date.overdue{
                            .section-icon{
                                fill: $overdue-color;
                            }
                            .section-title{
                                color: $overdue-color;
                            }
                        }
                    }
                    .subtasks{
                        .section-icon{
                            .checkBox{
                                .task-check{
                                    stroke: #67ae2b;
                                }
                                .task-checked{
                                    fill: rgba(0,0,0,0.35);
                                    display: none;
                                }
                            }
                            .checkBox.checked{
                                .task-check{
                                    display: none;
                                }
                                .task-checked{
                                    display: block;
                                }
                            }
                        }
                        .section-content{
                            color: #262626;
                            .expandingArea{
                                position: relative;
                                textarea,pre{
                                    border: none;
                                    font-family: $font-stack;
                                    padding: 0;
                                }
                                textarea{
                                    resize: none;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    box-sizing: border-box;
                                }
                            }
                        }
                    }
                }
                .bottom{
                    position: relative;
                    @mixin icon-bottom {
                        position: absolute;
                        bottom: 8px;
                        opacity: 0.6;
                    }
                    .detail-close{
                        @include icon-bottom;
                        left: 8px;
                    }
                    .detail-trash{
                        @include icon-bottom;
                        right: 6px;
                    }
                    textarea{
                        resize: none;
                        color: #262626;
                        font-weight: 500;
                        user-select: text;
                        font-family: $font-stack;
                        padding: 0;
                        margin: 0;
                        background: transparent;
                        border: none;
                        text-shadow: none;
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                    }
                    .comments-bottom{
                        z-index: 9003;
                        border-top: 1px solid #ebebeb;
                        background: #fff;
                        .comments-add{
                            padding: 10px 10px 0 10px;
                            .input-fake{
                                min-height: 32px;
                                padding: 7px;
                                box-sizing: border-box;
                                border: none;
                                font-size: 15px;
                                font-weight: 500;
                                color: #262626;
                                box-shadow: inset 0 0 0 1px #d6d6d6;
                                border-radius: 3px;
                                .expandingArea{
                                    position: relative;
                                    pre{
                                        display: block;
                                        visibility: hidden;
                                        padding: 0;
                                        margin: 0;
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                    .detail-info{
                        font-size: 11px;
                        text-align: center;
                        padding: 14px 35px;
                        color: #a3a3a2;
                    }
                }
            }
        }
    }
    #user-popover{
        display: none;
        z-index: 1500;
        position: absolute;
        background: #f7f7f7;
        
        top: 90px;
        left: 5px;
        border-radius: 3px;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        .inner{
            width: 200px;
            border: 1px solid #f9f9f9;
            padding: 12px;
            font-size: 13px;
            .list-menu{
                margin: -12px;
                list-style: none;
                li{
                    margin-bottom: -5px;
                    &.separator{
                        margin-bottom: 1px;
                        padding-bottom: 1px;
                        border-bottom: 1px solid rgba(0,0,0,0.05);
                    }
                    a{
                        display: block;
                        padding: 10px 12px;
                        color: #262626;
                    }
                }
                li.disabled{
                    padding: 12px;
                    color: #aaa;
                }
            }
        }
        &.show{
            display: block;
        }
    }
}